# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Environments
.env
venv/
env/
.venv/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.swp

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Sphinx documentation
docs/_build/

# PyBuilder
target/
